.bd-placeholder-img {

    font-size: 1.125rem;

    text-anchor: middle;

    -webkit-user-select: none;

    -moz-user-select: none;

    user-select: none;

}



@media (min-width: 768px) {

    .bd-placeholder-img-lg {

        font-size: 3.5rem;

    }

}



.b-example-divider {

    height: 3rem;

    background-color: rgba(0, 0, 0, .1);

    border: solid rgba(0, 0, 0, .15);

    border-width: 1px 0;

    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);

}



.b-example-vr {

    flex-shrink: 0;

    width: 1.5rem;

    height: 100vh;

}



.bi {

    vertical-align: -.125em;

    fill: currentColor;

}



.nav-scroller {

    position: relative;

    z-index: 2;

    height: 2.75rem;

    overflow-y: hidden;

}



.nav-scroller .nav {

    display: flex;

    flex-wrap: nowrap;

    padding-bottom: 1rem;

    margin-top: -1px;

    overflow-x: auto;

    text-align: center;

    white-space: nowrap;

    -webkit-overflow-scrolling: touch;

}



.navbar {

    margin-bottom: 20px;

}



/* in small screens, the two button are 40% of the screen */

@media (max-width: 767px) {



    .two-button {

        margin-top: 10px;

        display: flex;

        justify-content: space-around;

    }



    .two-button button{

        width: 40%;

    }

}



@media (min-width: 768px) {

    .two-button {

        margin-left: 12px;

    }

}



.logo {

    width: 38px;

    height: 38px;

}

.form-inline input{
    
    width: 80%;
    
    display: inline-block;

}

.form-inline input:focus{
    
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: rgb(255, 132, 0) solid 1px;

}

.form-inline .input-group .input-group-prepend span{

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}