
/* Error Style */
#errorMessageText { color: rgb(255, 132, 0); font-size: 16px; margin-top: 20px; margin-bottom: 20px; opacity: 0; font-weight: 600; }
#errorMessageText-category{ color: rgb(255, 132, 0); font-size: 16px; margin-top: 20px; margin-bottom: 20px; opacity: 0; font-weight: 600; }
#errorMessageText-product { color: rgb(255, 132, 0); font-size: 16px; margin-top: 20px; margin-bottom: 20px; opacity: 0; font-weight: 600; }
#add-errorMessageText-product { color: rgb(255, 132, 0); font-size: 16px; margin-top: 20px; margin-bottom: 20px; opacity: 0; font-weight: 600; }
#edit-errorMessageText { color: rgb(255, 132, 0); font-size: 16px; margin-top: 20px; margin-bottom: 20px; opacity: 0; font-weight: 600; }

/* Geeco Features div Style */
.geeco-features {
    display: flex;
    margin: 0 auto;
    max-width: 900px;
    justify-content: space-between;
    margin-top: 140px;
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
    .geeco-features {
        flex-direction: column;
        margin-top: 100px;
        text-align: center;
    }

    .geeco-features div {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .geeco-features img{
        padding: 30px;
    }
}
  